* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: sans-serif;
    font-size: 1.5em;
}

body {
    background-image: linear-gradient(to right, rgb(236, 140, 188), lightblue);
    height: 100vh;
    /* font-size: 1rem; */
}

.center {
    position: fixed;
    width: 90%;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.center h1 {
    text-align: center;
}

label {
    display: block;
    margin: 15px 0 8px;
}

input:not(.submit),
textarea {
    width: 100%;
    padding: 10px;
    font-size: inherit;
    outline: 2px solid black;
    border: none;
}

[type="text"]:focus {
    border: none;
    outline: 2px solid hotpink;
}

[type="email"]:focus,
textarea:focus {
    outline: 2px solid purple;
}


/*To make the switch button*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(36px);
}

.slider.round {
    border-radius: 34px;
    width: 70px;
}

.slider.round:before {
    border-radius: 50%;
}


/*END OF SWITCH BUTTON*/

.wantToKnowMoreSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

[for="button"] {
    margin-right: 10px;
}

.submit {
    margin: auto;
    display: block;
    padding: 15px 100px;
    font-size: inherit;
    margin-top: 25px;
    background-color: transparent;
    font-weight: bolder;
    border: 2px solid rgb(190, 190, 190);
}